html {
	--base: hsl(var(--base-hsl));
	--surface0: hsl(var(--surface0-hsl));
	--surface1: hsl(var(--surface1-hsl));
	--surface2: hsl(var(--surface2-hsl));
	--surface3: hsl(var(--surface3-hsl));
	--surface4: hsl(var(--surface4-hsl));
	--surface5: hsl(var(--surface5-hsl));
	--overlay0: hsl(var(--overlay0-hsl));
	--overlay1: hsl(var(--overlay1-hsl));
	--overlay2: hsl(var(--overlay2-hsl));
	--overlay3: hsl(var(--overlay3-hsl));
	--supertext: hsl(var(--supertext-hsl));
	--text: hsl(var(--text-hsl));
	--subtext0: hsl(var(--subtext0-hsl));
	--subtext1: hsl(var(--subtext1-hsl));
	--subtext2: hsl(var(--subtext2-hsl));
	--subtext3: hsl(var(--subtext3-hsl));
	--accent: hsl(var(--accent-hsl));

	--bgmoveX: 0px;
	--bgmoveY: 0px;


	--tooltip-shadow: hsla(var(--overlay3-hsl), 0.35);
	--image-ring: hsla(var(--surface1-hsl), 0.80);
	--text-shadow-soft: hsla(var(--surface1-hsl), 0.65);
	--card-overlay: color-mix(in srgb, var(--overlay3) 70%, var(--text) 30%);
	--card-surface: hsla(var(--surface1-hsl), 0.90);
	--card-surface-hover: hsla(var(--surface1-hsl), 0.96);
}

/* html {
	--main-hue: 20;

	--grid-lines: hsla(var(--main-hue), 40%, 92.5%);

	--base-hsl: var(--main-hue), 25%, 96.5%;
	--surface0-hsl: var(--main-hue), 40%, 92%;
	--surface1-hsl: var(--main-hue), 50%, 90%;
	--surface2-hsl: var(--main-hue), 45%, 87.5%;
	--surface3-hsl: var(--main-hue), 35%, 85%;
	--surface4-hsl: var(--main-hue), 30%, 82.5%;
	--surface5-hsl: var(--main-hue), 20%, 80%;
	--overlay0-hsl: var(--main-hue), 20%, 70%;
	--overlay1-hsl: var(--main-hue), 25%, 60%;
	--overlay2-hsl: var(--main-hue), 30%, 50%;
	--overlay3-hsl: var(--main-hue), 35%, 40%;
	--text-hsl: var(--main-hue), 40%, 25%;
	--subtext0-hsl: var(--main-hue), 20%, 35%;
	--subtext1-hsl: var(--main-hue), 30%, 45%;
	--subtext2-hsl: var(--main-hue), 25%, 55%;
	--accent-hsl: var(--main-hue), 77%, 70%;

	
	--shadow-soft: hsla(var(--overlay0-hsl), 0.25);
	--shadow-medium: hsla(var(--overlay0-hsl), 0.40);
	--shadow-strong: hsla(var(--overlay0-hsl), 0.55);
	--shadow-ultra: hsla(var(--overlay0-hsl), 0.65);
	--shadow-highlight: hsla(var(--surface0-hsl), 0.70);
} */

/* @media (prefers-color-scheme: dark) { */
	html {
		/* --main-hue: 271; */
		--main-hue: 356;

		--base-hsl: 0, 0%, 0%;
		--bg-light: var(--main-hue), 100%, 7%;
		--surface0-hsl: var(--main-hue), 100%, 5%;
		--surface1-hsl: var(--main-hue), 73%, 10%;
		--surface2-hsl: var(--main-hue), 91%, 18%;
		--surface3-hsl: var(--main-hue), 79%, 26%;
		--surface4-hsl: var(--main-hue), 73%, 38%;
		--surface5-hsl: var(--main-hue), 76%, 50%;
		--surface6-hsl: var(--main-hue), 70%, 56%;
		--overlay0-hsl: var(--main-hue), 91%, 18%;
		--overlay1-hsl: var(--main-hue), 79%, 26%;
		--overlay2-hsl: var(--main-hue), 73%, 38%;
		--overlay3-hsl: var(--main-hue), 80%, 45%;
		--supertext-hsl: var(--main-hue), 100%, 96%;
		--text-hsl: var(--main-hue), 100%, 92%;
		--subtext0-hsl: var(--main-hue), 90%, 80%;
		--subtext1-hsl: var(--main-hue), 60%, 70%;
		--subtext2-hsl: var(--main-hue), 40%, 50%;
		--subtext3-hsl: var(--main-hue), 50%, 40%;
		--accent-hsl: var(--main-hue), 80%, 55%;

		--shadow-soft: hsla(var(--text-hsl), 0.01);
		--shadow-medium: hsla(var(--text-hsl), 0.025);
		--shadow-strong: hsla(var(--text-hsl), 0.06);
		--shadow-ultra: hsla(var(--text-hsl), 0.08);
		--shadow-highlight: hsla(var(--surface1-hsl), 0.35);
	}
/* } */


::selection {
	background: hsla(var(--accent-hsl), 0.6);
}

html {
	background: var(--base);
	background-image: none;
	overflow: hidden;
	image-rendering: pixelated;
	transition: background-image 0.3s ease;
}

body {
	font-family: "HelveticaNow", sans-serif;
	font-variation-settings: 'opsz' 20;
	font-weight: 350;
	font-stretch: 96%;
	font-family: var(--font-body);
	/* background: var(--base); */
	color: var(--text);
	/* color-scheme: light dark; */
	color-scheme: dark;
	line-height: 1.8;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	min-height: 100vh;
	overflow: auto;
	/* background-image: 
		linear-gradient(to right, var(--grid-lines) 1px, transparent 1px),
		linear-gradient(to bottom, var(--grid-lines) 1px, transparent 1px); */
		/* radial-gradient(var(--surface0) calc(var(--bgscale) * var(--bgscale) * 1px),transparent 0); */
	/* background-size: calc(20px * 1) calc(20px * 1);
	background-size: calc(20px * var(--bgscale)) calc(20px * var(--bgscale)); */
	/* background-size: 30px 30px; */
	background-position: 0px 0px;
	/* background-position: var(--bgmoveX) var(--bgmoveY); */
	background-repeat: repeat;
	background-attachment: fixed;
	font-size: 16px;
	font-size: clamp(15px, 0.4vw + 14px, 17px);
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern", common-ligatures contextual, "kern", common-ligatures contextual;
	font-kerning: normal;
	font-variant-ligatures: common-ligatures contextual;
	text-wrap: pretty;
	/* text-shadow: 0 0.5px 0 hsla(18, 50%, 95%, 0.65);
	text-shadow: 0 0.5px 0 var(--text-shadow-soft); */
	padding: 0.5rem 1.5rem;
	scrollbar-color: var(--overlay1) var(--base);
	scrollbar-width: thin;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "NIS-JTC-Win-Condensed", serif;
	font-variation-settings: unset;
	font-family: var(--font-display);
	font-stretch: 100%;
	font-weight: bold;
	color: var(--supertext);
	letter-spacing: -0.01em;
}

* {
	box-sizing: border-box;
}

main {
	width: 100%;
	height: 100%;  
	height: calc(100vh - 5.5rem);  
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

	transform: translateY(0);
	filter: blur(0px);
	opacity: 1;
	transition:
		0.2s transform, 0.2s opacity, 0.2s filter;
	transform-origin: bottom center;
	transition-timing-function: cubic-bezier(.2,.2,.8,1);
}

@starting-style {
	main {
		transform: translateY(0.7rem);
		filter: blur(4px);
		opacity: 0;
	}
}

header {
	display: flex;
}

header.generic-header {
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

header.frontpage-header {
	flex-direction: column;
	gap: 2rem;
	text-align: center;
	align-items: center;
}

.title {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: center;
		flex-wrap: nowrap;
		max-width: 100%;
	}

.title h1 {
	font-size: clamp(6rem, 15vw, 8rem);
	text-align: left;
	line-height: 1;
	margin: 0;
	padding-top: 0.2em;
	letter-spacing: -0.02em;
}

@media (orientation: portrait) {
	body {
		padding: 0;
		justify-content: flex-start;
	}
}

app {
	max-width: 100%;
}

main > * {
	width: 100%;
}

h1 {
	font-size: 48px;
	font-size: clamp(2.25rem, 3vw + 1.5rem, 3.5rem);
	margin-block-start: 0.25em;
	margin-block-end: 0.5em;
	line-height: 1.2;
}

article {
	/* margin-top: 1.2em; */
	flex-grow: 1;
}

article > h1 {
	margin-block: 0.25em;
}

h2,
h3 {
	margin-block-start: 0.25em;
	margin-block-end: 0.4em;
	line-height: 1.3;
}

h2 {
	font-size: 32px;
	font-size: clamp(1.75rem, 1.8vw + 1.2rem, 2.5rem);
}

h3 {
	font-size: 24px;
	font-size: clamp(1.4rem, 1.2vw + 1.1rem, 1.8rem);
}

p {
	margin-block: 0.3em;
}

code {
	background: var(--surface1);
	font-size: 0.95em;
	border-radius: 0;
	padding: 0.05em 0.25em;
	border: 0.075rem solid var(--surface3);
	font-variation-settings: unset;
	font-stretch: 100%;
	font-family: "IosevkaEtoile", monospace;
	font-family: var(--font-mono);
}

subt {
	font-size: 0.85em;
	color: var(--subtext0);
	line-height: 1.2;
}

app {
	margin: 0;
	/* width: min(68rem, 100vw - 2rem); */
	width: 95%;
	max-width: 100%;
	padding-top: 1.5rem;
	padding-bottom: 3rem;
}

.content-with-image {
	width: min(68rem, 100vw - 2rem);
}

@media (min-width: 960px) and (orientation: landscape) {
	app {
		width: 100%;
	}
}


ul.compact {
	display: flex;
	flex-wrap: wrap;
	gap: 0.25rem 0;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0.25rem 0 0;
}

ul.compact > li {
	display: inline;
	margin: 0;
	white-space: nowrap;
}

ul.compact > li:after {
	content: "/";
	margin: 0 0.75rem;
	opacity: 0.6;
}

ul.compact > li:last-child:after {
	content: "";
	margin: 0;
}


li:not(:has(a)) {
	transform: translateY(-0.25rem);
}

li:has(a),
ul.compact > :is(li > span, li > a) {
	margin-bottom: 0;
}

ul.compact a {
	text-decoration: underline;
	text-underline-offset: 2px;
}

.tooltip {
	opacity: 0;
	visibility: hidden;
	color: var(--text);
}

.tooltip-wrapper {
	display: inline-block;
	position: relative;
	cursor: pointer;
}

.tooltip {
	position: absolute;
}

a,
a:visited {
	color: var(--supertext);
	text-decoration-style: wavy !important;
	text-decoration-thickness: 1.2px !important;
	text-decoration-color: var(--overlay0) !important;
	transition:
		color 0.3s ease, text-decoration-color 0.3s ease;
}

a:visited {
	text-decoration-color: var(--overlay1) !important;
}

a:hover,
.tooltip-wrapper:has(.tooltip:hover) a {
	text-decoration-color: var(--accent) !important;
	color: var(--subtext0) !important;
}

a:after {
	display: inline;
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="hsl(356.05, 95%, 80%)"><path d="M144-144v-672h336v72H216v528h528v-264h72v336H144Zm243-192-51-51 357-357H576v-72h240v240h-72v-117L387-336Z"/></svg>');
	margin-left: 0.1em;
	vertical-align: middle;
	vertical-align: -webkit-baseline-middle;
	width: 1em;
	height: 1em;
}

a.web-button:after,
a[href^="/"]:after {
	display: none;
	content: "";
}

/* a,
a:visited {
	color: inherit;
} */

.project-image {
	max-width: 50%;
}

.fill-link {
	text-decoration: none;
}

.router-link {
	text-decoration: none;
	color: inherit;
}

.router-link:hover {
	text-decoration: underline;
}

.img-wrapper {
	margin-block: 1.5rem;
}

.pfp {
	/* max-width: 14rem;
	max-height: 14rem; */
	/* box-shadow:
		0 0 0 0.025rem var(--image-ring),
		0 0 1rem var(--shadow-soft);
	border-radius: 50%; */
}

.pfp.rear {
	display: none;
}

@keyframes transition-new {
	from {
		opacity: 0;
		transform: translateY(5px);
		filter: blur(4px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
		filter: blur(0px);
	}
}

@keyframes transition-old {
	from {
		opacity: 1;
		transform: translateY(0px);
		filter: blur(0px);
	}
	to {
		opacity: 0;
		transform: translateY(-5px);
		filter: blur(4px);
	}
}
::view-transition-old(splash-message) {
	animation: transition-old 0.35s ease forwards;
}

::view-transition-new(splash-message) {
	animation: transition-new 0.35s ease forwards;
}