@font-face {
	font-family: "HelveticaNow";
	font-weight: 50 1000;
	font-display: swap;
	src: 
		 url("/fonts/body/HelveticaNow.eot?#iefix") format("embedded-opentype");
	src: local("☺"),
		 url("/fonts/body/HelveticaNow.woff2") format("woff2"),
		 url("/fonts/body/HelveticaNow.woff") format("woff"),
		 url("/fonts/body/HelveticaNow.ttf") format("truetype");
}

@font-face {
	font-family: "IosevkaEtoile";
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: 
		url("/fonts/mono/Iosevka.eot?#iefix") format("embedded-opentype");
	src: local("☺"),
		url("/fonts/mono/Iosevka.woff2") format("woff2"),
		url("/fonts/mono/Iosevka.woff") format("woff"),
		url("/fonts/mono/Iosevka.ttf") format("truetype");
}

@font-face {
	font-family: "IosevkaEtoile";
	font-style: normal;
	font-weight: bold;
	font-display: swap;
	src: 
		url("/fonts/mono/IosevkaBold.eot?#iefix") format("embedded-opentype");
	src: local("☺"),
		url("/fonts/mono/IosevkaBold.woff2") format("woff2"),
		url("/fonts/mono/IosevkaBold.woff") format("woff"),
		url("/fonts/mono/IosevkaBold.ttf") format("truetype");
}

@font-face {
	font-family: "IosevkaEtoile";
	font-style: italic;
	font-weight: normal;
	font-display: swap;
	src: 
		url("/fonts/mono/IosevkaItalic.eot?#iefix") format("embedded-opentype");
	src: local("☺"),
		url("/fonts/mono/IosevkaItalic.woff2") format("woff2"),
		url("/fonts/mono/IosevkaItalic.woff") format("woff"),
		url("/fonts/mono/IosevkaItalic.ttf") format("truetype");
}

@font-face {
	font-family: "IosevkaEtoile";
	font-style: italic;
	font-weight: bold;
	font-display: swap;
	src: 
		url("/fonts/mono/IosevkaBoldItalic.eot?#iefix") format("embedded-opentype");
	src: local("☺"),
		url("/fonts/mono/IosevkaBoldItalic.woff2") format("woff2"),
		url("/fonts/mono/IosevkaBoldItalic.woff") format("woff"),
		url("/fonts/mono/IosevkaBoldItalic.ttf") format("truetype");
}

@font-face {
	font-family: "CenturyCondensed";
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: 
		url("/fonts/display/CenturyRegular.eot?#iefix") format("embedded-opentype");
	src: local("☺"),
		url("/fonts/display/CenturyRegular.woff2") format("woff2"),
		url("/fonts/display/CenturyRegular.woff") format("woff"),
		url("/fonts/display/CenturyRegular.ttf") format("truetype");
}

@font-face {
	font-family: "CenturyCondensed";
	font-style: normal;
	font-weight: bold;
	font-display: swap;
	src: 
		url("/fonts/display/CenturyBold.eot?#iefix") format("embedded-opentype");
	src: local("☺"),
		url("/fonts/display/CenturyBold.woff2") format("woff2"),
		url("/fonts/display/CenturyBold.woff") format("woff"),
		url("/fonts/display/CenturyBold.ttf") format("truetype");
}


@font-face {
	font-family: "NIS-JTC-Win";
	font-style: normal;
	font-weight: lighter;
	font-stretch: normal;
	font-display: swap;
	src: 
		url("/fonts/display/NIS-JTC-Win-M1.eot?#iefix") format("embedded-opentype");
	src: local("☺"),
		url("/fonts/display/NIS-JTC-Win-M1.woff2") format("woff2"),
		url("/fonts/display/NIS-JTC-Win-M1.woff") format("woff"),
		url("/fonts/display/NIS-JTC-Win-M1.ttf") format("truetype");
}

@font-face {
	font-family: "NIS-JTC-Win";
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
	font-display: swap;
	src: 
		url("/fonts/display/NIS-JTC-Win-M5.eot?#iefix") format("embedded-opentype");
	src: local("☺"),
		url("/fonts/display/NIS-JTC-Win-M5.woff2") format("woff2"),
		url("/fonts/display/NIS-JTC-Win-M5.woff") format("woff"),
		url("/fonts/display/NIS-JTC-Win-M5.ttf") format("truetype");
}


@font-face {
	font-family: "NIS-JTC-Win";
	font-style: normal;
	font-weight: normal;
	font-stretch: condensed;
	font-display: swap;
	src: 
		url("/fonts/display/NIS-JTC-Win-M5-Condensed.eot?#iefix") format("embedded-opentype");
	src: local("☺"),
		url("/fonts/display/NIS-JTC-Win-M5-Condensed.woff2") format("woff2"),
		url("/fonts/display/NIS-JTC-Win-M5-Condensed.woff") format("woff"),
		url("/fonts/display/NIS-JTC-Win-M5-Condensed.ttf") format("truetype");
}

@font-face {
	font-family: "NIS-JTC-Win-Condensed";
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
	font-display: swap;
	src: 
		url("/fonts/display/NIS-JTC-Win-M5-Condensed.eot?#iefix") format("embedded-opentype");
	src: local("☺"),
		url("/fonts/display/NIS-JTC-Win-M5-Condensed.woff2") format("woff2"),
		url("/fonts/display/NIS-JTC-Win-M5-Condensed.woff") format("woff"),
		url("/fonts/display/NIS-JTC-Win-M5-Condensed.ttf") format("truetype");
}

@font-face {
	font-family: "NIS-JTC-Win";
	font-style: normal;
	font-weight: bold;
	font-stretch: normal;
	font-display: swap;
	src: 
		url("/fonts/display/NIS-JTC-Win-M9.eot?#iefix") format("embedded-opentype");
	src: local("☺"),
		url("/fonts/display/NIS-JTC-Win-M9.woff2") format("woff2"),
		url("/fonts/display/NIS-JTC-Win-M9.woff") format("woff"),
		url("/fonts/display/NIS-JTC-Win-M9.ttf") format("truetype");
}

@font-face {
	font-family: "NIS-JTC-Win";
	font-style: normal;
	font-weight: bold;
	font-stretch: condensed;
	font-display: swap;
	src: 
		url("/fonts/display/NIS-JTC-Win-M9-Condensed.eot?#iefix") format("embedded-opentype");
	src: local("☺"),
		url("/fonts/display/NIS-JTC-Win-M9-Condensed.woff2") format("woff2"),
		url("/fonts/display/NIS-JTC-Win-M9-Condensed.woff") format("woff"),
		url("/fonts/display/NIS-JTC-Win-M9-Condensed.ttf") format("truetype");
}

@font-face {
	font-family: "NIS-JTC-Win-Condensed";
	font-style: normal;
	font-weight: bold;
	font-stretch: normal;
	font-display: swap;
	src: 
		url("/fonts/display/NIS-JTC-Win-M9-Condensed.eot?#iefix") format("embedded-opentype");
	src: local("☺"),
		url("/fonts/display/NIS-JTC-Win-M9-Condensed.woff2") format("woff2"),
		url("/fonts/display/NIS-JTC-Win-M9-Condensed.woff") format("woff"),
		url("/fonts/display/NIS-JTC-Win-M9-Condensed.ttf") format("truetype");
}

@font-face {
	font-family: "Material Symbols Sharp";
	font-style: normal;
	font-weight: 400;
	font-display: block;
	src: url("https://fonts.gstatic.com/s/materialsymbolssharp/v289/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReaU4bHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H5OdzEL3sVTgJtfbYxOLojCNJ1H7-0Hk.woff") format("woff");
}

.material-symbols,
.material-symbols-sharp,
.material-symbols-outlined,
.material-symbols-rounded {
	font-family: "Material Symbols Sharp";
	font-weight: normal;
	font-style: normal;
	/* font-size: 24px; */
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	font-feature-settings: "liga";
	-webkit-font-smoothing: antialiased;
}

:root {
	--font-display: var(--font-body);
	--font-body:
		"HelveticaNow", "Helvetica Neue", Helvetica, FreeSans, "Nimbus Sans L", "Nimbus Sans", system-ui, Arial,
		sans-serif, "Apple Color Emoji", "Noto Color Emoji", "Segoe UI Emoji";
	--font-mono:
		"IosevkaEtoile", ui-monospace, monospace;
	--font-serif: "NIS-JTC-Win", "Times New Roman", Times, Tinos, FreeSerif, "Nimbus Roman No9 L", "Nimbus Roman", "Liberation Serif",
		"Linux Libertine", serif;
}
