@font-face {
	font-family: "HelveticaNow";
	font-weight: 50 1000;
	font-display: swap;
	src: 
		 url("/fonts/body/HelveticaNow.eot?#iefix") format("embedded-opentype");
	src: local("☺"),
		 url("/fonts/body/HelveticaNow.woff2") format("woff2"),
		 url("/fonts/body/HelveticaNow.woff") format("woff"),
		 url("/fonts/body/HelveticaNow.ttf") format("truetype");
}

@font-face {
	font-family: "IosevkaFishQuasi";
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: 
		url("/fonts/mono/IosevkaFishQuasi-Regular.eot?#iefix") format("embedded-opentype");
	src: local("☺"),
		url("/fonts/mono/IosevkaFishQuasi-Regular.woff2") format("woff2"),
		url("/fonts/mono/IosevkaFishQuasi-Regular.woff") format("woff"),
		url("/fonts/mono/IosevkaFishQuasi-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "IosevkaFishQuasi";
	font-style: normal;
	font-weight: bold;
	font-display: swap;
	src: 
		url("/fonts/mono/IosevkaFishQuasi-Bold.eot?#iefix") format("embedded-opentype");
	src: local("☺"),
		url("/fonts/mono/IosevkaFishQuasi-Bold.woff2") format("woff2"),
		url("/fonts/mono/IosevkaFishQuasi-Bold.woff") format("woff"),
		url("/fonts/mono/IosevkaFishQuasi-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "IosevkaFishQuasi";
	font-style: italic;
	font-weight: normal;
	font-display: swap;
	src: 
		url("/fonts/mono/IosevkaFishQuasi-Italic.eot?#iefix") format("embedded-opentype");
	src: local("☺"),
		url("/fonts/mono/IosevkaFishQuasi-Italic.woff2") format("woff2"),
		url("/fonts/mono/IosevkaFishQuasi-Italic.woff") format("woff"),
		url("/fonts/mono/IosevkaFishQuasi-Italic.ttf") format("truetype");
}

@font-face {
	font-family: "IosevkaFishQuasi";
	font-style: italic;
	font-weight: bold;
	font-display: swap;
	src: 
		url("/fonts/mono/IosevkaFishQuasi-BoldItalic.eot?#iefix") format("embedded-opentype");
	src: local("☺"),
		url("/fonts/mono/IosevkaFishQuasi-BoldItalic.woff2") format("woff2"),
		url("/fonts/mono/IosevkaFishQuasi-BoldItalic.woff") format("woff"),
		url("/fonts/mono/IosevkaFishQuasi-BoldItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Material Symbols Sharp";
	font-style: normal;
	font-weight: 400;
	font-display: block;
	src: url("https://fonts.gstatic.com/s/materialsymbolssharp/v289/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReaU4bHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H5OdzEL3sVTgJtfbYxOLojCNJ1H7-0Hk.woff") format("woff");
}

.material-symbols,
.material-symbols-sharp,
.material-symbols-outlined,
.material-symbols-rounded {
	font-family: "Material Symbols Sharp";
	font-weight: normal;
	font-style: normal;
	/* font-size: 24px; */
	line-height: 1;
	font-display: block;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	font-feature-settings: "liga";
	-webkit-font-smoothing: antialiased;
}

:root {
	--font-display: var(--font-body);
	--font-body:
		"HelveticaNow", Helvetica, "Helvetica Neue", FreeSans, "Nimbus Sans L", "Nimbus Sans", system-ui, Arial,
		sans-serif, "Apple Color Emoji", "Noto Color Emoji", "Segoe UI Emoji";
	--font-mono:
		"IosevkaFishQuasi", ui-monospace, monospace;
	--font-serif:  "Times New Roman", Times, Tinos, FreeSerif, "Nimbus Roman No9 L", "Nimbus Roman", "Liberation Serif",
		"Linux Libertine", serif;
}
