@font-face {
	font-family: "Helvetica Now";
	font-weight: 50 1000;
	font-display: swap;
	src: 
		 url("/fonts/body/HelveticaNow.woff2") format("woff2"),
		 url("/fonts/body/HelveticaNow.woff") format("woff"),
		 url("/fonts/body/HelveticaNow.eot") format("embedded-opentype"),
		 url("/fonts/body/HelveticaNow.ttf") format("truetype");
}

@font-face {
	font-family: "Iosevka Etoile";
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url("/fonts/mono/IosevkaEtoile-Regular.woff2") format("woff2"),
		 url("/fonts/mono/IosevkaEtoile-Regular.ttc") format("truetype");
}

@font-face {
	font-family: "Iosevka Etoile";
	font-style: normal;
	font-weight: bold;
	font-display: swap;
	src: url("/fonts/mono/IosevkaEtoile-Bold.woff2") format("woff2"),
		 url("/fonts/mono/IosevkaEtoile-Bold.ttc") format("truetype");
}

@font-face {
	font-family: "CenturyCondensed";
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url("/fonts/serif/Century CondBook Regular.woff2") format("woff2"),
		 url("/fonts/serif/Century CondBook Regular.otf") format("opentype");
}

@font-face {
	font-family: "CenturyCondensed";
	font-style: normal;
	font-weight: bold;
	font-display: swap;
	src: url("/fonts/serif/Century Schoolbook Condensed Bold.woff2") format("woff2"),
		 url("/fonts/serif/Century Schoolbook Condensed Bold.otf") format("opentype");
}



@font-face {
	font-family: "Material Symbols Rounded";
	font-style: normal;
	font-weight: 400;
	font-display: block;
	src: url(https://fonts.gstatic.com/s/materialsymbolsrounded/v181/syl0-zNym6YjUruM-QrEh7-nyTnjDwKNJ_190FjpZIvDmUSVOK7BDB_Qb9vUSzq3wzLK-P0J-V_Zs-QtQth3-jOcbTCVpeRL2w5rwZu2rIelXxc.woff2)
		format("woff2");
}

.material-symbols,
.material-symbols-rounded {
	font-family: "Material Symbols Rounded";
	font-weight: normal;
	font-style: normal;
	/* font-size: 24px; */
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	font-feature-settings: "liga";
	-webkit-font-smoothing: antialiased;
}

:root {
	--font-display: "CenturyCondensed", "Times New Roman MT Std", var(--font-serif);
	--font-body:
		"Helvetica Now", "Helvetica Neue", Helvetica, FreeSans, "Nimbus Sans L", "Nimbus Sans", system-ui, Arial,
		sans-serif, "Apple Color Emoji", "Noto Color Emoji", "Segoe UI Emoji";
	--font-mono:
		"Iosevka Etoile", ui-monospace, monospace;
	--font-serif: "Times New Roman", Times, Tinos, FreeSerif, "Nimbus Roman No9 L", "Nimbus Roman", "Liberation Serif",
		"Linux Libertine", serif;
}
